[Desktop Entry]
Name=TPL_APPLICATION_NAME
Type=Application
Exec=TPL_HOME_DIR/applications/TPL_APPLICATION_NAME/eclipse
Terminal=false
Icon=TPL_HOME_DIR/applications/TPL_APPLICATION_NAME/icon.xpm
NoDisplay=false
